# Ingore accidentally created folder state files
.DS_Store
desktop.ini
Thumbs.db

# Ignore Sublime Text workspace files
*.sublime-workspace

node_modules/
public/lib/
public/lib/closure-library/
public/lib/closure-templates/
