<!DOCTYPE html>
<meta charset="UTF-8">

<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./facebook/css/facebook.css">

<script src="../lib/angular/angular.js"></script>
<script src="../lib/closure-library/closure/goog/base.js"></script>
<script src="./build/facebook-deps.js"></script>
<script src="./facebook/js/main.js"></script>

<body ng-app="app">

<div class="page" ng-controller="NewsFeedController">
  <h4>News Feed</h4>
  <div class="scroller" ng-scroller="content">
    <div class="scroller-carousel" ng-scroller-repeat="post in posts">
      <div class="post media" ng-class="{ 'post-with-image': post.photo_url }">
        <img class="pull-left media-object" src="http://placekitten.com/40/40?image={{post.image_id}}">
        <div class="media-body">
          <p>{{post.text}}</p>
          <img class="post-photo" ng-src="{{post.photo_url}}" ng-if="post.photo_url">
          <p><small>{{post.ts_ago}} • <a href="#">Like</a> • <a href="#">Comment</a></small></p>
        </div>
      </div>

      <div ng-scroller-loading class="loading"></div>
    </div>
  </div>
</div>

<div class="sidebar">
  <div class="scroller" ng-scroller ng-controller="TickerController">
    <div class="scroller-carousel" ng-scroller-repeat="update in updates">
      <div class="update media">
        <img class="pull-left media-object" src="http://placekitten.com/32/32?image={{update.image_id}}">
        <div class="media-body">
          <p>{{update.text}}</p>
          <p><small>{{update.ts_ago}} • <a href="#">Like</a></small></p>
        </div>
      </div>
      <div ng-scroller-loading class="loading"></div>
    </div>
  </div>
  <div class="scroller" ng-controller="ChatListController">
    <div class="scroller-carousel">
      <a href="#" class="contact media" ng-repeat="contact in contacts">
        <img class="pull-left media-object" src="http://placekitten.com/32/32?image={{$index}}">
        <span class="media-body">{{contact.name}}</span>
      </a>
    </div>
  </div>
</div>

<script>
  main();
</script>
