
body {
  overflow: hidden;
}


.bar-title {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}


.item {
  display: block;
  position: relative;
  min-height: 48px;
  padding: 10px 10px 10px 66px !important;
}

.item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 10px solid transparent;
}

.item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 10px solid transparent;
}

.item-favorited::before,
.item-favorited.item-retweeted::before {
  border-top-color: orange;
}

.item-favorited::after {
  border-right-color: orange;
}

.item-retweeted::before {
  border-top-color: green;
}

.item-retweeted::after {
  border-right-color: green;
}

.item-fav::before {
  position: absolute;
  top: 10px;
  left: 42px;
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 8px;
  background-color: orange;
}

.item-rt::before {
  position: absolute;
  top: 10px;
  left: 42px;
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 8px;
  background-color: green;
}


.spinner-item {
  height: 32px;
  border-bottom: 0 !important;
  background: #EEE url('../img/loading.gif') no-repeat center center;
}


.timestamp {
  float: right;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 3px;
}

.icon-small {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

.text,
.ref-text {
  display: block;
  margin-bottom: 4px;
}


small {
  color: #999;
}
